<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container">
    <span class="navbar-brand mb-0 h1 order-0"><a href="/" class="text-white text-decoration-none">Alibazon</a></span>  
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse order-1" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle text-white" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Women
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="/women/clothing">Clothing</a>
                    <a class="dropdown-item" href="/women/accesories">Accessories</a>
                    <a class="dropdown-item" href="/women/jewelry">Jewelry</a>
                </div>
             </li>
             <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle text-white" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Men
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="/men/clothing">Clothing</a>
                    <a class="dropdown-item" href="/men/accesories">Accesories</a>
                </div>
             </li>

            <li class="nav-item">
                <a class="nav-link ml-1 text-white" data-toggle="modal" data-target="#login" href="#">Account <i class="fas fa-user-circle text-white ml-1"></i></a>
            </li> 
            <li class="nav-item">
                <a class="nav-link ml-1 text-white" href="#">Cart <i class="fas fa-shopping-cart text-white"></i></a>
            </li>
        </ul>
    </div>
  </div> 
</nav>