<div class="container">
    <div class="row py-5">
        <div class="col-lg p-3">
        <h4>Accesories</h4>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris sed sollicitudin nisl. Etiam eget velit vulputate, imperdiet odio nec, gravida ipsum. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse potenti. In eros nibh, mollis in sem in, volutpat dictum nisi. Ut a ullamcorper leo. Maecenas semper egestas dui, ac fermentum lacus consectetur in. In ut vestibulum eros, ut pellentesque dolor. Duis et faucibus velit, ac convallis est. Mauris eros tortor, efficitur vitae ullamcorper a, tempor eu massa. Sed id vestibulum mi. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Nunc eleifend lobortis augue et mattis. Praesent nisi diam, ullamcorper sed ipsum ut, faucibus accumsan turpis.</p>
        </div>
    </div>
    <h3>Subcategories</h3><hr>
    <div class="card mb-3">
    <img src="" class="card-img-top">
        <div class="card-body">
            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris sed sollicitudin nisl. Etiam eget velit vulputate, imperdiet odio nec, gravida ipsum. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse potenti. In eros nibh, mollis in sem in, volutpat dictum nisi. Ut a ullamcorper leo. Maecenas semper egestas dui, ac fermentum lacus consectetur in. In ut vestibulum eros, ut pellentesque dolor. Duis et faucibus velit, ac convallis est. Mauris eros tortor, efficitur vitae ullamcorper a, tempor eu massa. Sed id vestibulum mi. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Nunc eleifend lobortis augue et mattis. Praesent nisi diam, ullamcorper sed ipsum ut, faucibus accumsan turpis.</p>
            <button type="button" class="btn btn-outline-dark">View More</button>
        </div>
    </div>
    <div class="card mb-3">
    <img src="" class="card-img-top">
        <div class="card-body">
            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris sed sollicitudin nisl. Etiam eget velit vulputate, imperdiet odio nec, gravida ipsum. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse potenti. In eros nibh, mollis in sem in, volutpat dictum nisi. Ut a ullamcorper leo. Maecenas semper egestas dui, ac fermentum lacus consectetur in. In ut vestibulum eros, ut pellentesque dolor. Duis et faucibus velit, ac convallis est. Mauris eros tortor, efficitur vitae ullamcorper a, tempor eu massa. Sed id vestibulum mi. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Nunc eleifend lobortis augue et mattis. Praesent nisi diam, ullamcorper sed ipsum ut, faucibus accumsan turpis.</p>
            <button type="button" class="btn btn-outline-dark">View More</button>
        </div>
    </div><hr>
    <div class="card mb-3">
    <img src="" class="card-img-top">
        <div class="card-body">
            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris sed sollicitudin nisl. Etiam eget velit vulputate, imperdiet odio nec, gravida ipsum. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse potenti. In eros nibh, mollis in sem in, volutpat dictum nisi. Ut a ullamcorper leo. Maecenas semper egestas dui, ac fermentum lacus consectetur in. In ut vestibulum eros, ut pellentesque dolor. Duis et faucibus velit, ac convallis est. Mauris eros tortor, efficitur vitae ullamcorper a, tempor eu massa. Sed id vestibulum mi. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Nunc eleifend lobortis augue et mattis. Praesent nisi diam, ullamcorper sed ipsum ut, faucibus accumsan turpis.</p>
            <button type="button" class="btn btn-outline-dark">View More</button>
        </div>
    </div>
        
</div>    